<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.school.study.demo.dao.LoginDao">

    <insert id="addStudent" parameterType="com.example.school.study.demo.model.LoginInfo">
        insert into
        user_student (user_name,user_id,user_class,password,user_email)
        values
        (#{userName},#{userId},#{userClass},#{password},#{userEmail})
    </insert>

    <insert id="addTeacher" parameterType="com.example.school.study.demo.model.LoginInfo">
        insert into
        user_student (user_name,user_id,user_class,password,user_email)
        values
        (#{userName},#{userId},#{userClass},#{password},#{userEmail})
    </insert>

    <insert id="addAdmin" parameterType="com.example.school.study.demo.model.LoginInfo">
        insert into
        user_student (user_name,user_id,user_class,password,user_email)
        values
        (#{userName},#{userId},#{userClass},#{password},#{userEmail})
    </insert>

    <select id="getTeacher" parameterType="java.lang.Long" resultType="com.example.school.study.demo.model.LoginInfo">
            select user_name as userName, user_id as userId, user_class as userClass,password ,user_email as userEmail
            from
            user_student
            where
            user_id = #{userId}
            and
            is_delete = 0
    </select>

    <select id="getIdentity" parameterType="java.lang.Long" resultType="com.example.school.study.demo.model.LoginInfo">
            select user_name as userName, user_id as userId, user_class as userClass,password ,user_email as userEmail
            from
            user_admin
            where
            user_id = #{userId}
            and
            is_delete = 0
    </select>

    <select id="getStudent" parameterType="java.lang.Long" resultType="com.example.school.study.demo.model.LoginInfo">
            select user_name as userName, user_id as userId, user_class as userClass,password ,user_email as userEmail
            from
            user_teacher
            where
            user_id = #{userId}
            and
            is_delete = 0
    </select>


</mapper>